
@model List<Category>
@{ 
    var user = Session["user"] as AppUser;
}


 <!--header start-->
<header class="header white-bg">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!--logo start-->
        <a href="index.html" class="logo">Flat<span>lab</span></a>
        <!--logo end-->
        <div class="horizontal-menu navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Index">Anasayfa</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">Kategoriler <b class=" icon-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        @foreach (var c in Model)
                        {
                        <li><a href="general.html">@c.CategoryName</a></li>
                        }
                    </ul>
                </li>
                <li><a href="basic_table.html">Hakkımızda</a></li>
                <li><a href="basic_table.html">İletişim</a></li>
            </ul>

        </div>
        <div class="top-nav ">
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder=" Ara...">
                </li>
                <!-- user login dropdown start-->

                @if (user != null)
                {
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="~/Content/img/avatar1_small.jpg">
                            <span class="username">@user.UserName</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
                            <li>
                                @Html.ActionLink("Çıkış Yap", "LogOut", "Home", user, new { @class = "btn" })
                            </li>
                        </ul>
                    </li>
                }
                else
                {
            <li>
                @Html.ActionLink("Giriş Yap", "Login", "Home", null, new { @class = "btn" })
            </li>
            <li>

                @Html.ActionLink("Kayıt Ol", "Register", "Home", null, new { @class = "btn" })
            </li>
                }



                <!-- user login dropdown end -->
            </ul>
        </div>

    </div>

</header>
<!--header end-->
